In [36]:
from colour import Color
from tqdm import tqdm
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pydeck as pdk

In [37]:
import geopandas

df = geopandas.read_file("../data/city_proper_over_1000.geojson")
df.head()

,geoname_id,name,ascii_name,alternate_names,feature_class,feature_code,country_code,cou_name_en,country_code_2,admin1_code,admin2_code,admin3_code,admin4_code,population,elevation,dem,timezone,modification_date,label_en,geometry
0,1859113,Kodamachō-kodamaminami,Kodamacho-kodamaminami,"[Kodama, Kodamacho-kodamaminami, Kodamachō-kod...",P,PPL,JP,Japan,None,34,1862192,None,None,21544,None,106,Asia/Tokyo,2020-06-11,Japan,POINT (139.13191 36.18497)
1,1859393,Kisarazu,Kisarazu,"[Kisaradu, Kisaradzu, Kisarazu, Kisarazu-chhi,...",P,PPLA2,JP,Japan,None,04,8304237,None,None,136023,None,5,Asia/Tokyo,2022-09-02,Japan,POINT (139.93254 35.38329)
2,1859924,Kashiwa,Kashiwa,"[Kashiva, Kashiwa, Kasiva, Kasiwa-chhi, Kasiwa...",P,PPLA2,JP,Japan,None,04,2112330,None,None,433436,None,24,Asia/Tokyo,2022-09-02,Japan,POINT (139.97732 35.86224)
3,1860648,Kameda-honchō,Kameda-honcho,"[Kameda, Kameda-honcho, Kameda-honchō, gui tia...",P,PPL,JP,Japan,None,29,1855427,15104,None,32765,None,0,Asia/Tokyo,2020-06-11,Japan,POINT (139.10990 37.87214)
4,1861400,Ishii,Ishii,"[Ishii, Isii, shi jing, shi jing ding, Исии, 石...",P,PPL,JP,Japan,None,39,1856299,36341,None,25062,None,10,Asia/Tokyo,2021-10-01,Japan,POINT (134.44208 34.06752)

In [38]:
without_geo = pd.DataFrame(df.drop(columns=["geometry"]))
with_geo = pd.concat([without_geo, df.geometry.y, df.geometry.x], axis=1)
with_geo.rename(columns={0: "latitude", 1: "longitude"}, inplace=True)
with_geo.head()

with_geo.to_csv("../data/city_proper_over_1000.csv", index=False)

In [35]:
def get_dataset(csv_name):
    dataset = pd.read_csv(csv_name, delimiter=";")
    dataset = dataset.drop_duplicates()

    # pick columns to use
    dataset["Latitude"] = dataset["Coordinates"].str.split(",").str[0].astype(float)
    dataset["Longitude"] = dataset["Coordinates"].str.split(",").str[1].astype(float)
    columns = [
        "Geoname ID",
        "Name",
        "Population",
        "Country name EN",
        "Latitude",
        "Longitude",
    ]
    dataset = dataset[columns]
    return dataset

dataset = get_dataset("geonames.csv")
len(dataset[dataset["Country name EN"] == "United States"])

      geoname_id       name  population cou_name_en  latitude  longitude
2100    12156436  Bir Hadaj        5735      Israel  34.70857   31.02416
2101     1252699  Zahirābād       46504       India  77.60743   17.68138
2102     1253621  Ūttukkuli        7508       India  77.45431   11.16892